* {
    padding: 0;
    margin: 0;
}
#calculator {
    background-color: rgb(12, 12, 36);
    border: 2px black solid;
    width: 10%;
    margin: auto;
}
#display {
    background-color: white;
    padding: 2px 2em;
    margin: 0.5em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5em 0.5em 0.5em;
}

button {
    width: 20%;
}
